a, p {
  font-size: 16px;
}

p {
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Space Grotesk', sans-serif;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}


button {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
}

.btn1 {
  background-color: #60ff60;
  color: #1b1c1e;
}

.btn2 {
  border: 1px solid white;
  background: transparent;
  color: white;
}

.btn3 {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  border: 1px solid rgba(27, 28, 30, 0.2);
  background: transparent;
  color: rgba(27, 28, 30, 1);
}

.dimBorder {
  border-top: 1px solid rgba(27, 28, 30, 0.1);
}

.darkBorder {
  border-right: 2px solid rgba(27, 28, 30, 0.6);
}
